<!DOCTYPE HTML>
<html lang="en" ng-app="channelcat">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/public/js/bootstrap-3.0.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/js/bootstrap-3.0.0/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/public/style.css"/>
        <script src="/public/js/angular.min.js"> </script>
        <script src="/public/app.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Appcast Server</h1>

            <ul class="nav nav-pills" style="margin-bottom: 15px;">
                <li class="active"><a href="#/channels"><i class="glyphicon glyphicon-link"> </i> Channels</a></li>
            </ul>
            <div ng-view></div>
        </div>
    </body>
</html>
