<!DOCTYPE HTML>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/public/js/bootstrap-3.0.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/js/bootstrap-3.0.0/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/public/style.css"/>
        <script src="/public/js/angular.min.js"> </script>
    </head>
    <body>
		<h2>Create Channel</h2>
        <div>
			{{if .Created}}
			<div>
				Created
			</div>
			{{end}}
            <form method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>Title</td>
                        <td>
                            <input type="text" name="title" placeholder="Channel Title"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Identity</td>
                        <td>
                            <input type="text" name="identity" placeholder="Channel Identity"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Channel Token</td>
                        <td>
                            <input type="text" name="token" placeholder="Channel Token"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <textarea name="desc" rows="5" cols="70"></textarea>
                        </td>
                    </tr>
                </table>
				<button type="submit">Create</button>
            </form>
        </div>
    </body>
</html>
